In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, classification_report
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\Downloads\cars_2010_2020.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Make             10000 non-null  object
 1   Model            10000 non-null  object
 2   Year             10000 non-null  int64
 3   Engine Size (L)  10000 non-null  float64
 4   Fuel Type        10000 non-null  object
 5   Price (USD)      10000 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 468.9+ KB

In [3]:
df.describe()

               Year  Engine Size (L)   Price (USD)
count  10000.000000     10000.000000  10000.000000
mean    2014.969900         2.992240  47397.584981
std        3.174303         1.150697  18643.431581
min     2010.000000         1.000000  15010.250000
25%     2012.000000         2.000000  31214.385000
50%     2015.000000         3.000000  47272.105000
75%     2018.000000         4.000000  63325.882500
max     2020.000000         5.000000  79998.870000

In [4]:
object_dtype = df.select_dtypes(include = 'object').columns
object_dtype
cl = ['Make', 'Model', 'Fuel Type']
oe = OneHotEncoder()
col = oe.fit_transform(df[cl]).toarray()
col_df = pd.DataFrame(col, columns=oe.get_feature_names_out())
df = pd.concat([df.drop(cl, axis=1), col_df], axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 67 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                10000 non-null  int64
 1   Engine Size (L)     10000 non-null  float64
 2   Price (USD)         10000 non-null  float64
 3   Make_Audi           10000 non-null  float64
 4   Make_BMW            10000 non-null  float64
 5   Make_Chevrolet      10000 non-null  float64
 6   Make_Ford           10000 non-null  float64
 7   Make_Honda          10000 non-null  float64
 8   Make_Hyundai        10000 non-null  float64
 9   Make_Mercedes-Benz  10000 non-null  float64
 10  Make_Nissan         10000 non-null  float64
 11  Make_Toyota         10000 non-null  float64
 12  Make_Volkswagen     10000 non-null  float64
 13  Model_3 Series      10000 non-null  float64
 14  Model_5 Series      10000 non-null  float64
 15  Model_7 Series      10000 non-null  float64
 16  Model_A3            10000 non-null  float64
 17  Model_A4            10000 non-null  float64
 18  Model_A6            10000 non-null  float64
 19  Model_Accord        10000 non-null  float64
 20  Model_Altima        10000 non-null  float64
 21  Model_Atlas         10000 non-null  float64
 22  Model_C-Class       10000 non-null  float64
 23  Model_CR-V          10000 non-null  float64
 24  Model_Camry         10000 non-null  float64
 25  Model_Civic         10000 non-null  float64
 26  Model_Corolla       10000 non-null  float64
 27  Model_E-Class       10000 non-null  float64
 28  Model_Elantra       10000 non-null  float64
 29  Model_Equinox       10000 non-null  float64
 30  Model_Explorer      10000 non-null  float64
 31  Model_F-150         10000 non-null  float64
 32  Model_Fiesta        10000 non-null  float64
 33  Model_Fit           10000 non-null  float64
 34  Model_Focus         10000 non-null  float64
 35  Model_GLA           10000 non-null  float64
 36  Model_GLC           10000 non-null  float64
 37  Model_Golf          10000 non-null  float64
 38  Model_Highlander    10000 non-null  float64
 39  Model_Impala        10000 non-null  float64
 40  Model_Jetta         10000 non-null  float64
 41  Model_Kona          10000 non-null  float64
 42  Model_Malibu        10000 non-null  float64
 43  Model_Murano        10000 non-null  float64
 44  Model_Mustang       10000 non-null  float64
 45  Model_Passat        10000 non-null  float64
 46  Model_Pilot         10000 non-null  float64
 47  Model_Prius         10000 non-null  float64
 48  Model_Q5            10000 non-null  float64
 49  Model_Q7            10000 non-null  float64
 50  Model_RAV4          10000 non-null  float64
 51  Model_Rogue         10000 non-null  float64
 52  Model_S-Class       10000 non-null  float64
 53  Model_Santa Fe      10000 non-null  float64
 54  Model_Sentra        10000 non-null  float64
 55  Model_Sonata        10000 non-null  float64
 56  Model_Spark         10000 non-null  float64
 57  Model_Tahoe         10000 non-null  float64
 58  Model_Tiguan        10000 non-null  float64
 59  Model_Tucson        10000 non-null  float64
 60  Model_Versa         10000 non-null  float64
 61  Model_X3            10000 non-null  float64
 62  Model_X5            10000 non-null  float64
 63  Fuel Type_Diesel    10000 non-null  float64
 64  Fuel Type_Electric  10000 non-null  float64
 65  Fuel Type_Hybrid    10000 non-null  float64
 66  Fuel Type_Petrol    10000 non-null  float64
dtypes: float64(66), int64(1)
memory usage: 5.1 MB

In [6]:
X = df.drop(['Year'], axis=1)
y = df['Year']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print('RMSE:', np.sqrt(mean_squared_error(y_pred, y_test)))

RMSE: 3.2101337513085357